* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Roboto, Arial, sans-serif;
    background-color: white;
    color: black;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    height: 75px;
    font-size: 22px;
}

section {
    height: 400px;
}

#skills {
    background-color: black;
    color: white;
}

#main-links {
    display: flex;
    gap: 25px;
    margin-right: 20px;
}

#home {
    margin-left: 20px;
}

